@model PJInventario.Models.Contrato
@{
    ViewBag.Title = "ContratoEdita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar contrato @Model.NumContrato</h2>
<hr />
<div class="row justify-content-center">
    <div class="col">
        <div class="form-horizontal">
            @using (Html.BeginForm("EditarContrato", "Contrato"))
            {
                @Html.HiddenFor(model => model.NumContrato)

                <div class="form-group col-8">
                    <label for="NombreEmpresa">Nombre de la empresa</label>
                    @Html.EditorFor(model => model.NombreEmpresa, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la Empresa", @maxlenght = "3", @id="NombreEmpresa"} })
                    @Html.ValidationMessageFor(model => model.NombreEmpresa, "", new { @class = "text-danger" })
                </div>


                <div class="form-group col-8">
                    <label for="FechaInicio">Fecha de inicio</label>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control dp-app", @readonly = "True", @style = "background-color: white", @id = "FechaInicio"} })
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-8">
                    <label for="FechaFinal">Fecha de finalización</label>
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        @Html.EditorFor(model => model.FechaFinal, new { htmlAttributes = new { @class = "form-control dp-app", @readonly = "True", @style = "background-color: white", @id = "FechaFinal" } })
                        @Html.ValidationMessageFor(model => model.FechaFinal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Modificar" class="btn btn-success" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <div class="btn-group">
        <a class="nav-link" style="font-size: x-small; font: bold;" href="@Url.Action("ContratoIndex", "Contrato")">
            <img style="width:20px; height:20px;" src="~/Assets/Icons/icons8-return-48.png"> Regresar
        </a>
    </div>
</div>
<script type="text/javascript">
    var fechaInicial = new String("@Model.FechaInicio");
    document.getElementById("FechaInicio").value = fechaInicial.substring(0, 10);
    var fechaFinal = new String("@Model.FechaFinal");
    document.getElementById("FechaFinal").value = fechaFinal.substring(0, 10);
</script>