@model PJInventario.Models.Despacho
@{
    ViewBag.Title = "DespachoCrear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Código Despacho</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CodDespacho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CodDespacho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Circuito</label>
            <div class="col-md-10">
                @Html.DropDownList("CodCircuito", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodCircuito, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombre del Despacho</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreDespacho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreDespacho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Técnicos Judiciales</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantTecJud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantTecJud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Técnicos Jurídicos</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantTecJur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantTecJur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Coordinadores Judiciales</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantCoordJud, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantCoordJud, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Jueces Coordinadores</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantJuezCoord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantJuezCoord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Jueces Tramitadores</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantJuezTram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantJuezTram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Jueces</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantJueces, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantJueces, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Otros Profesionales</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CantOtros, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CantOtros, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "DespachoIndex")
</div>

