@model PJInventario.Models.Despacho

@{
    ViewBag.Title = "Despacho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Despacho</h2>


<div class="row mb-3">
    <div class="col-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingCrearCollapse">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#crearCollapse" aria-expanded="false" aria-controls="crearCollapse">
                            <img src="~/Assets/Icons/icons8-add-48.png">
                            Agregar Despacho
                        </button>
                    </h5>
                </div>
                <div id="crearCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="form-horizontal">
                                    @using (Html.BeginForm("CreaDespacho", "Admin"))
                                    {
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CodDespacho, new { htmlAttributes = new { @class = "form-control", placeholder = "Código de despacho", @maxlenght = "4" } })
                                            @Html.ValidationMessageFor(model => model.CodDespacho, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.DropDownList("CodCircuito", null, htmlAttributes: new { @class = "form-control", placeholder = "Código Circuito", @maxlenght = "3" })
                                            @Html.ValidationMessageFor(model => model.CodCircuito, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.NombreDespacho, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Despacho" } })
                                            @Html.ValidationMessageFor(model => model.NombreDespacho, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantTecJud, new { htmlAttributes = new { @class = "form-control", placeholder = "Técnicos Judiciales", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantTecJud, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantTecJur, new { htmlAttributes = new { @class = "form-control", placeholder = "Técnicos Juridicos", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantTecJur, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantCoordJud, new { htmlAttributes = new { @class = "form-control", placeholder = "Coordinadores Judiciales", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantCoordJud, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJuezCoord, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces Coordinadores", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantJuezCoord, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJuezTram, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces Tramitadores", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantJuezTram, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJueces, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces/Fiscales", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantJueces, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantOtros, new { htmlAttributes = new { @class = "form-control", placeholder = "Otros Profesionales", @maxlenght = "3" } })
                                            @Html.ValidationMessageFor(model => model.CantOtros, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Crear" class="btn btn-success" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if(@ViewBag.ListaDespacho.Count != 0)
    {
    <div class="table-responsive table-striped">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Nombre del Circuito
                    </th>
                    <th>
                        Código Despacho
                    </th>
                    <th>
                        Nombre del Despacho
                    </th>
                    <th>
                        Técnicos
                    </th>
                    <th>
                        Técnicos Judicial
                    </th>
                    <th>
                        Coordinadores Judiciales
                    </th>
                    <th>
                        Juez Coordinador
                    </th>
                    <th>
                        Juez Tramitador
                    </th>
                    <th>
                        Juez/Fiscal
                    </th>
                    <th>
                        Otros Profesionales
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{  
                string btnDetalles = "";
                string mdlDetalles = "";
                foreach (var item in @ViewBag.ListaDespacho)
                {
                btnDetalles = "btnDetalles_" + item.CodDespacho;
                mdlDetalles = "mdlDetalles_" + item.CodDespacho;
                <tr>
                    <td>
                        @item.Circuito.NombreCircuito
                    </td>
                    <td>
                        @item.CodDespacho
                    </td>
                    <td>
                        @item.NombreDespacho
                    </td>
                    <td>
                        @item.CantTecJud
                    </td>
                    <td>
                        @item.CantTecJur
                    </td>
                    <td>
                        @item.CantCoordJud
                    </td>
                    <td>
                        @item.CantJuezCoord
                    </td>
                    <td>
                        @item.CantJuezTram
                    </td>
                    <td>
                        @item.CantJueces
                    </td>
                    <td>
                        @item.CantOtros
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn">
                                <img style="width:20px; height:20px;" src="~/Assets/Icons/icons8-edit-file-48.png"> @Html.ActionLink("Editar", "DespachoEdita", new { id = item.CodDespacho })
                            </button>
                            <button class="btn"  data-toggle="modal" data-target="#@mdlDetalles">
                                <img style="width:20px; height:20px;" src="~/Assets/Icons/icons8-view-details-48.png"> Detalles
                            </button>
                            <div class="modal fade" id="@mdlDetalles" tabindex="-1" role="dialog" aria-labelledby="fm-modal2" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header bg-secondary">                                            
                                            <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <label>Nombre Circuito: @item.Circuito.NombreCircuito </label>
                                            <br />
                                            <label>Código Despacho: @item.CodDespacho </label>
                                            <br />
                                            <label>Nombre Desapcho: @item.NombreDespacho </label>
                                            <br />
                                            <label>Técnicos Judiciales: @item.CantTecJud </label>
                                            <br />
                                            <label>Técnicos Jurídicos: @item.CantTecJur </label>
                                            <br />
                                            <label>Coordinadores Judiciales: @item.CantCoordJud </label>
                                            <br />
                                            <label>Jueces Coordinadores: @item.CantJuezCoord </label>
                                            <br />
                                            <label>Jueces Tramitadores: @item.CantJuezTram </label>
                                            <br />
                                            <label>Jueces: @item.CantJueces </label>
                                            <br />
                                            <label>Otros Profesionales: @item.CantOtros </label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
}
else
{
    <h1>No hay despachos que mostrar</h1>
}
}