@model PJInventario.Models.Despacho

@{
    ViewBag.Title = "Despacho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Despacho</h2>


<div class="row mb-3">
    <div class="col-12">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingCrearCollapse">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#crearCollapse" aria-expanded="false" aria-controls="crearCollapse">
                            <img src="~/Assets/Icons/icons8-add-48.png">
                            Agregar Despacho
                        </button>
                    </h5>
                </div>
                <div id="crearCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="form-horizontal">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CodDespacho, new { htmlAttributes = new { @class = "form-control", placeholder = "Código de despacho" } })
                                            @Html.ValidationMessageFor(model => model.CodDespacho, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.DropDownList("CodCircuito", null, htmlAttributes: new { @class = "form-control", placeholder = "Código Circuito" })
                                            @Html.ValidationMessageFor(model => model.CodCircuito, "", new { @class = "text-danger" })                                            
                                        </div>

                                        <div class="form-group col-8">                                           
                                            @Html.EditorFor(model => model.NombreDespacho, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Despacho" } })
                                            @Html.ValidationMessageFor(model => model.NombreDespacho, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantTecJud, new { htmlAttributes = new { @class = "form-control", placeholder = "Técnicos Judiciales" } })
                                            @Html.ValidationMessageFor(model => model.CantTecJud, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantTecJur, new { htmlAttributes = new { @class = "form-control", placeholder = "Técnicos Juridicos" } })
                                            @Html.ValidationMessageFor(model => model.CantTecJur, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantCoordJud, new { htmlAttributes = new { @class = "form-control", placeholder = "Coordinadores Judiciales" } })
                                            @Html.ValidationMessageFor(model => model.CantCoordJud, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJuezCoord, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces Coordinadores" } })
                                            @Html.ValidationMessageFor(model => model.CantJuezCoord, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJuezTram, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces Tramitadores" } })
                                            @Html.ValidationMessageFor(model => model.CantJuezTram, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantJueces, new { htmlAttributes = new { @class = "form-control", placeholder = "Jueces/Fiscales" } })
                                            @Html.ValidationMessageFor(model => model.CantJueces, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-8">
                                            @Html.EditorFor(model => model.CantOtros, new { htmlAttributes = new { @class = "form-control", placeholder = "Otros Profesionales" } })
                                            @Html.ValidationMessageFor(model => model.CantOtros, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">                                               
                                                <input type="submit" value="Crear" class="btn btn-success" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                Nombre del Circuito
            </th>
            <th>
                Código Despacho
            </th>
            <th>
                Nombre del Despacho
            </th>
            <th>
                Técnicos
            </th>
            <th>
                Técnicos Judicial
            </th>
            <th>
                Coordinadores Judiciales
            </th>
            <th>
                Juez Coordinador
            </th>
            <th>
                Juez Tramitador
            </th>
            <th>
                Juez/Fiscal
            </th>
            <th>
                Otros Profesionales
            </th>
            <th></th>
        </tr>

        @foreach (var item in @ViewBag.ListaDespacho)
        {
            <tr>
                <td>
                    @item.Circuito.NombreCircuito
                </td>
                <td>
                    @item.CodDespacho
                </td>
                <td>
                    @item.NombreDespacho
                </td>
                <td>
                    @item.CantTecJud
                </td>
                <td>
                    @item.CantTecJur
                </td>
                <td>
                    @item.CantCoordJud
                </td>
                <td>
                    @item.CantJuezCoord
                </td>
                <td>
                    @item.CantJuezTram
                </td>
                <td>
                    @item.CantJueces
                </td>
                <td>
                    @item.CantOtros
                </td>
                <td>
                    <div class="btn-group">
                        <a class="nav-link" style="font-size: x-small; font: bold;" href="@Url.Action("EditaDespacho", "Admin")">
                            <img style="width:20px; height:20px;" src="~/Assets/Icons/icons8-edit-file-48.png"> Editar
                        </a>
                        <a class="nav-link" style="font-size: x-small; font: bold;" href="@Url.Action("DetalleDespacho", "Admin")">
                            <img style="width:20px; height:20px;" src="~/Assets/Icons/icons8-view-details-48.png"> Detalles
                        </a>
                    </div>
                </td>
            </tr>
        }

    </table>
</div>